//Created by bucklawr on 14/05/16.

extends ../node_modules/jade-bootstrap/_bootstrap


append styles
    link(rel = "stylesheet", href = "/stylesheets/browse.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            +nav_item("/loginWelcome") Home
            +nav_item("/browse") Browse
            +nav_item_dropdown("#")(label="Sell")
                +nav_item("/createItem") Create Listing
                +nav_item("#") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                +nav_item("/browse?filr=cars") Cars
                +nav_item("/browse?filr=books") Books
                +nav_item("/browse?filr=electronics") Electronics
            +a-btn-danger("/purchases")
                +icon('shopping-cart')
            +nav_item("/") Log Out

    .anotherone
        .jumbotron
            h1 Browse
            h3 You are now browsing all item for sale


    .container
        center
            table
                h2 all items
                each val in Arrays
                    if val.uid == currentUser
                        tr
                            td
                                img(src='images/noimage.jpg')
                            td
                                p These are the items #{val.itemname} #{val.imagepath} #{val.price} #{val.description} #{val.tag}

                            td
                                button.btn.btn-default(type='button', onclick="location.href='/edit?filr=#{val.sid}'") Edit
                            //td
                                button.btn.btn-default(type='button', onclick="location.href='/cancel?filr=#{val.sid}'") Cancel
                    else
                        tr
                            td
                                img(src='images/noimage.jpg')
                            td
                                p These are the items #{val.itemname} #{val.imagepath} #{val.price} #{val.description} #{val.tag}

                            td
                                button.btn.btn-default(type='button', onclick="location.href='/buy?filr=#{val.sid}'") Buy
        p &nbsp

