//
   Created by steve on 21/05/2016.

extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel = "stylesheet", href = "/stylesheets/itemPageStyle.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            a.navbar-brand(href="/loginWelcome?Uid=#{uid}") Home
            a.navbar-brand(href="/browse?Uid=#{uid}") Browse
            +nav_item_dropdown("#")(label="Sell")
                a.navbar-brand(href="/createItem?Uid=#{uid}") Create Listing
                a.navbar-brand(href="/userListing?Uid=#{uid}") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                a.navbar-brand(href="/browse?filr=cars&Uid=#{uid}") Cars
                a.navbar-brand(href="/browse?filr=books&Uid=#{uid}") Books
                a.navbar-brand(href="/browse?filr=electronics&Uid=#{uid}") Electronics
                a.navbar-brand(href="/browse?filr=toys&Uid=#{uid}") Toys
                a.navbar-brand(href="/browse?filr=art&Uid=#{uid}") Art
                a.navbar-brand(href="/browse?filr=furniture&Uid=#{uid}") Furniture
                a.navbar-brand(href="/browse?filr=stationary&Uid=#{uid}") stationary
            a.btn-danger(href="/purchases?Uid=#{uid}", padding=0)
                +icon('shopping-cart')
            +nav_item("/") Log Out

    .container
        h1(id="title") !{item[2]}
        div(id="imageView")
            -if(imagePlaced == false){
                div(id="placeholder")
                    +icon("unchecked")
                    p No image uploaded
            -}
            -else{
                img(src=im)
            -}
        br
        +tab-list(["Description", "Statistics", "Contact"],0, id="descriptionTabs")
            +tab("Description", "active")
                div(id="descBox")
            +tab("Statistics")
                br
                div(id="tagLine")
                    p Tag:
                    div(id="tag")
                br
                br
                div(id="measurements")
                    p Measurements:
                    div(id="long" )
                    div(id="height" )
                    div(id="weight" )
            +tab("Contact")
                div(id="address")
                    div(id="addr1")
                    br
                    br
                    div(id="addr2")
                    br
                    br
                    div(id="city")
                    br
                    br
                    div(id="suburb")
                div(id="contact")
                    div(id="email")
                    br
                    br
                    div(id="telephone")
        br
        br
        div(id="line")
        br
        br