//
   Created by steve on 21/05/2016.

extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel = "stylesheet", href = "/stylesheets/create-itemStyle.css")
append styles
    link(rel = "stylesheet", href = "/stylesheets/itemPageStyle.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            a.navbar-brand(href="/loginWelcome?Uid=#{uid}") Home
            a.navbar-brand(href="/browse?Uid=#{uid}") Browse
            +nav_item_dropdown("#")(label="Sell")
                a.navbar-brand(href="/createItem?Uid=#{uid}") Create Listing
                a.navbar-brand(href="/userListing?Uid=#{uid}") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                a.navbar-brand(href="/browse?filr=cars&Uid=#{uid}") Cars
                a.navbar-brand(href="/browse?filr=books&Uid=#{uid}") Books
                a.navbar-brand(href="/browse?filr=electronics&Uid=#{uid}") Electronics
                a.navbar-brand(href="/browse?filr=toys&Uid=#{uid}") Toys
                a.navbar-brand(href="/browse?filr=art&Uid=#{uid}") Art
                a.navbar-brand(href="/browse?filr=furniture&Uid=#{uid}") Furniture
                a.navbar-brand(href="/browse?filr=stationary&Uid=#{uid}") stationary
            a.btn-danger(href="/purchases?Uid=#{uid}", padding=0)
                +icon('shopping-cart')
            +nav_item("/") Log Out

    .container
        h1(id="title") !{Title}
        div(id="imageView")
            -if(imagePlaced == false){
                div(id="placeholder")
                    +icon("unchecked")
                    p No image uploaded
            -}
            -else{
                img(src=im)
            -}
        br
        +tab-list(["Description", "Statistics", "Contact"],0, id="descriptionTabs")
            +tab("Description", "active")
                textarea(name="txtEdit", id="descBox")
            +tab("Statistics")
                br
                div(id="tags")
                    .btn-group(data-toggle='buttons')
                        p(id="toolTip") Tags:
                        label.btn.btn-primary
                            input(type='radio',name='tag',autocomplete='off',value='cars')
                            | Cars
                        label.btn.btn-primary
                            input(type='radio',name='tag',autocomplete='off',value='books')
                            | Books
                        label.btn.btn-primary
                            input(type='radio',name='tag',autocomplete='off',value='electronics')
                            | Electronics
                        label.btn.btn-primary
                            input(type='radio',name='tag',autocomplete='off',value='toys')
                            | Toys
                        label.btn.btn-primary
                            input(type='radio',name='tag',autocomplete='off',value='art')
                            | Art
                        label.btn.btn-primary
                            input(type='radio',name='tag',autocomplete='off',value='furniture')
                            | Furniture
                        label.btn.btn-primary
                            input(type='radio',name='tag',autocomplete='off',value='stationery')
                            | Stationery
                br
                br
                div(id="measurements")
                    p Measurements:
                    input(name="ls" type="number" id="long" placeholder="longest side(cm)")
                    input(name="h" type="number" id="height" placeholder="height(cm)")
                    input(type="w" id="weight" placeholder="weight(kg)")
            +tab("Contact")
                div(id="address")
                    input(name="a1" type="text" id="addr1" placeholder="address")
                    br
                    br
                    input(name="a2" type="text" id="addr2" placeholder="address line 2")
                    br
                    br
                    input(name="cit" type="text" id="city" placeholder="city")
                    br
                    br
                    input(name="sub" type="text" id="suburb" placeholder="suburb")
                div(id="contact")
                    input(name="em" type="email" id="email" placeholder="email")
                    br
                    br
                    input(name="phoneNum" type="tel" id="telephone" placeholder="telephone")
        br
        br
        div(id="line")
        input(type='submit' class='btn btn-default', value='Save' id="saveBtn")
        input(type='hidden' name='file' value=im)
        br
        br