// Created by bucklawr on 14/05/16.
extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel = "stylesheet", href = "/stylesheets/indexStyle.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            a.navbar-brand(href="/loginWelcome?Uid=#{uid}") Home
            a.navbar-brand(href="/browse?Uid=#{uid}") Browse
            +nav_item_dropdown("#")(label="Sell")
                a.navbar-brand(href="/createItem?Uid=#{uid}") Create Listing
                a.navbar-brand(href="/userListing?Uid=#{uid}") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                a.navbar-brand(href="/browse?filr=cars&Uid=#{uid}") Cars
                a.navbar-brand(href="/browse?filr=books&Uid=#{uid}") Books
                a.navbar-brand(href="/browse?filr=electronics&Uid=#{uid}") Electronics
                a.navbar-brand(href="/browse?filr=toys&Uid=#{uid}") Toys
                a.navbar-brand(href="/browse?filr=art&Uid=#{uid}") Art
                a.navbar-brand(href="/browse?filr=furniture&Uid=#{uid}") Furniture
                a.navbar-brand(href="/browse?filr=stationary&Uid=#{uid}") stationary
            a.btn-danger(href="/purchases?Uid=#{uid}", padding=0)
                +icon('shopping-cart')
            +nav_item("/") Log Out
    .container
        p &nbsp
        center
            h1 TradeYou
        p &nbsp
        center
            #myCarousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                    li(data-target='#myCarousel', data-slide-to='3')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                    .item.active
                        img(src='images/slide1.jpg')
                    .item
                        img(src='images/slide2.jpg')
                    .item
                        img(src='images/slide3.jpg')
                    .item
                        img(src='images/slide5.jpg')
                // Left and right controls
                a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next
        p &nbsp