extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel = "stylesheet", href = "/stylesheets/browse.css")


block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            a.navbar-brand(href="/loginWelcome?Uid=#{uid}") Home
            a.navbar-brand(href="/browse?Uid=#{uid}") Browse
            +nav_item_dropdown("#")(label="Sell")
                a.navbar-brand(href="/createItem?Uid=#{uid}") Create Listing
                a.navbar-brand(href="/userListing?Uid=#{uid}") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                a.navbar-brand(href="/browse?filr=cars&Uid=#{uid}") Cars
                a.navbar-brand(href="/browse?filr=books&Uid=#{uid}") Books
                a.navbar-brand(href="/browse?filr=electronics&Uid=#{uid}") Electronics
                a.navbar-brand(href="/browse?filr=toys&Uid=#{uid}") Toys
                a.navbar-brand(href="/browse?filr=art&Uid=#{uid}") Art
                a.navbar-brand(href="/browse?filr=furniture&Uid=#{uid}") Furniture
                a.navbar-brand(href="/browse?filr=stationary&Uid=#{uid}") stationary
            a.btn-danger(href="/purchases?Uid=#{uid}", padding=0)
                +icon('shopping-cart')
            +nav_item("/") Log Out
    .anotherone
        .jumbotron
            center
                //h1.browseTitle Purchases
                img(src="../public/images/PurchBanner.png")

    .container
        p &nbsp
        p Here are your recent purchases:
        center
            table
                each val in Arrays
                        tr
                            td
                                if val.imagepath == "undefined"
                                    img(src='images/noimage.jpg')
                                else
                                    img(src='images/#{val.imagepath}', width='163', height='187')
                            td
                                p #{val.itemname} #{val.imagepath} #{val.price} #{val.description} #{val.tag}
                                a(href='/itemPage?name=#{val.itemname}&image=#{val.imagepath}&price=#{val.price}&description=#{val.description}&tag=#{val.tag}') View Items Listing Page

        p &nbsp

