extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel = "stylesheet", href = "/stylesheets/browse.css")


block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            +nav_item("/loginWelcome") Home
            +nav_item("/browse") Browse
            +nav_item_dropdown("#")(label="Sell")
                +nav_item("/createItem") Create Listing
                +nav_item("/userListing") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                +nav_item("/browse?filr=cars") Cars
                +nav_item("/browse?filr=books") Books
                +nav_item("/browse?filr=electronics") Electronics
                +nav_item("/browse?filr=toys") Toys
                +nav_item("/browse?filr=art") Art
                +nav_item("/browse?filr=furniture") Furniture
                +nav_item("/browse?filr=stationary") stationary
            +a-btn-danger("/purchases")
                +icon('shopping-cart')
            +nav_item("/") Log Out
    .anotherone
        .jumbotron
            center
                h1.browseTitle Purchases

    .container
        p &nbsp
        p Here are your recent purchases:
        center
            table
                each val in Arrays
                        tr
                            td
                                if val.imagepath == "undefined"
                                    img(src='images/noimage.jpg')
                                else
                                    img(src='images/#{val.imagepath}', width='163', height='187')
                            td
                                p #{val.itemname} #{val.imagepath} #{val.price} #{val.description} #{val.tag}
                                a(href='/itemPage?name=#{val.itemname}&image=#{val.imagepath}&price=#{val.price}&description=#{val.description}&tag=#{val.tag}') View Items Listing Page

        p &nbsp

